extends ../layout/index

block contenido
    div.py-10
        h2.text-center.text-2xl.font-extrabold.text-black= pagina

    div(class="bg-white shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class= error? 'bg-red-500' : 'bg-green-500').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-white.uppercase= mensaje

        if !error
            a(href="/login" class="w-full bg-marron-oscuro hover:bg-naranja-marron text-white font-bold py-3 cursor-pointer") Ya puedes Iniciar Sesión 