extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)
block contenido
    div.py-10
        h2.text-center.text-2xl.font-extrabold.text-black= pagina

        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form(id="imagen" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded flex-col justify-center items-center" method="POST" action= `/cybercoffe/agregar-imagen/${producto.id}`)
                input(type="hidden" name="_csrf" value=csrfToken)
                
            input(id="publicar" class="w-full bg-marron-oscuro hover:bg-naranja-marron text-white font-bold py-3 cursor-pointer mt-5" type="submit" value="Publicar Producto")

block scripts
    script(src="/js/agregarImagen.js")