header.bg-naranja-marron.p-4 
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center CyberCoffe
        
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/cybercoffe") Productos
            a(href="/login") | Cerrar Sesión 